<%- include('partials/head') %>
<div class="container">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="white-text center-align">SpeedTalk</h1>
            <form action="login" method="post">
                <button type="submit" class="light-blue darken-4 btn">Generate me a room!</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col s7 offset-m3">
            <h2 class="">Welcome to SpeedTalk</h2>
            <p class="white-text">a quick and lightweight to video call. Just click on a button above to generate your
                a room with unique
                URL.
                Then copy that URL and send it to a person/persons you want to talk to! It's that easy!</p>
        </div>
    </div>
</div>
<%- include('partials/footer') %>